*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: rgb(130, 168, 130);
}
div{
  height: 350px;
  width: 550px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-50% , -50%);
  left: 50%;
  top: 50%;
  
}
.class{
  height: 50px;
  width: 100%;
  top: 24.99px; 
   border: 1.1px solid darkgray;
}
.class hr{
  color: black;
}
.o1{
  height: 300px;
  width: 47.9%;
  left: 413px;
  top: 200.2px;
  border: 1.1px solid darkgray;
}
.o1 button{
  margin-right:10px ;
  width: 110px;
  height: 40px;
  margin-top: 10px;
}
.o2{
   border: 1.1px solid darkgray;
  height: 300px;
  width: 50%;
  background-color: white;
  left: 138px;
  top: 200.2px;
}
.o2 img {
  height: 100%;
  width: 100%;
}
.o1{
  padding-left: 10px;
}
.o1 h2{
  margin: 10px;
}
.o1 h4 {
  margin: 10px;
}
.o1 h1{
  margin: 10px ;
}
.o1 p{
  margin: 10px;
}